.git
build
build-msys
runs
__pycache__
*.pyc
*.pyo
*.pyd
*.exe
*.dll
*.mod
*.obj
*.o
*.out
ERROR.OUT
WARNING.OUT
Summary.OUT
OVERVIEW.OUT
PlantGro.OUT
*.tmp
tmp_*.txt
tmp_*.py
.DS_Store
.vscode
.idea
